h1 {
    color: #27aedb;
    text-align: center;
    }
    
    h2 {
        text-align: center;
        }
button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}