h1 {
    color: #27aedb;
    text-align: center;
    }
    
h5 {
    color: #0d71a0;
    text-align:  center;
}

input {
    margin-left: 40%;
}

button {
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}
