.fix-box {
    width: 250px;
    height: 250px;
    margin: 20px;
    border: 1px white dotted;
    border-radius: 5px;
}

#master{
    border-radius: 5px;
    border: 2px white ridge;
    width: 100%;
}

.subheading{
    color: white;
    text-align: center;
}